## Exploratory Data Analysis

#### Importing Libraries

In [144]:
import sys
sys.path.append('../')
import pandas as pd
from src.descriptive_statistics import describe_numerical, summarize_categorical, summarize_time_series
from src.plots import display_summary_table

#### Loading Data

In [145]:
df_train = pd.read_csv('../data/train.csv')
df_test = pd.read_csv('../data/test.csv')
df_store = pd.read_csv('../data/store.csv')

C:\Users\abraham.shimelis\AppData\Local\Temp\ipykernel_1944\267565919.py:1: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df_train = pd.read_csv('../data/train.csv')

In [146]:
df_train.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1

In [147]:
df_store.head()

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN

In [148]:
df_test.head()

   Id  Store  DayOfWeek        Date  Open  Promo StateHoliday  SchoolHoliday
0   1      1          4  2015-09-17   1.0      1            0              0
1   2      3          4  2015-09-17   1.0      1            0              0
2   3      7          4  2015-09-17   1.0      1            0              0
3   4      8          4  2015-09-17   1.0      1            0              0
4   5      9          4  2015-09-17   1.0      1            0              0

#### Catagorization

In [149]:
df_store.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1115 entries, 0 to 1114
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Store                      1115 non-null   int64
 1   StoreType                  1115 non-null   object
 2   Assortment                 1115 non-null   object
 3   CompetitionDistance        1112 non-null   float64
 4   CompetitionOpenSinceMonth  761 non-null    float64
 5   CompetitionOpenSinceYear   761 non-null    float64
 6   Promo2                     1115 non-null   int64
 7   Promo2SinceWeek            571 non-null    float64
 8   Promo2SinceYear            571 non-null    float64
 9   PromoInterval              571 non-null    object
dtypes: float64(5), int64(2), object(3)
memory usage: 87.2+ KB

In [150]:
df_store.head()

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN

In [151]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1017209 entries, 0 to 1017208
Data columns (total 9 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   Store          1017209 non-null  int64
 1   DayOfWeek      1017209 non-null  int64
 2   Date           1017209 non-null  object
 3   Sales          1017209 non-null  int64
 4   Customers      1017209 non-null  int64
 5   Open           1017209 non-null  int64
 6   Promo          1017209 non-null  int64
 7   StateHoliday   1017209 non-null  object
 8   SchoolHoliday  1017209 non-null  int64
dtypes: int64(7), object(2)
memory usage: 69.8+ MB

In [152]:
df_train.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1

In [153]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41088 entries, 0 to 41087
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             41088 non-null  int64
 1   Store          41088 non-null  int64
 2   DayOfWeek      41088 non-null  int64
 3   Date           41088 non-null  object
 4   Open           41077 non-null  float64
 5   Promo          41088 non-null  int64
 6   StateHoliday   41088 non-null  object
 7   SchoolHoliday  41088 non-null  int64
dtypes: float64(1), int64(5), object(2)
memory usage: 2.5+ MB

In [154]:
df_test.head()

   Id  Store  DayOfWeek        Date  Open  Promo StateHoliday  SchoolHoliday
0   1      1          4  2015-09-17   1.0      1            0              0
1   2      3          4  2015-09-17   1.0      1            0              0
2   3      7          4  2015-09-17   1.0      1            0              0
3   4      8          4  2015-09-17   1.0      1            0              0
4   5      9          4  2015-09-17   1.0      1            0              0

In [155]:
print(df_train.columns)

Index(['Store', 'DayOfWeek', 'Date', 'Sales', 'Customers', 'Open', 'Promo',
       'StateHoliday', 'SchoolHoliday'],
      dtype='object')

In [156]:
# Separate categorical, numerical and date columns
df_train_cat = df_train[['DayOfWeek', 'Open', 'Promo', 'StateHoliday', 'SchoolHoliday']]
df_train_num = df_train[['Sales', 'Customers']]
df_train_date = df_train[['Date']]

In [157]:
print(df_test.columns)

Index(['Id', 'Store', 'DayOfWeek', 'Date', 'Open', 'Promo', 'StateHoliday',
       'SchoolHoliday'],
      dtype='object')

In [158]:
# Separate categorical, numerical and date columns
df_test_cat = df_test[['DayOfWeek', 'Open', 'Promo', 'StateHoliday', 'SchoolHoliday']]
df_test_date = df_test[['Date']]

In [159]:
print(df_store.columns)

Index(['Store', 'StoreType', 'Assortment', 'CompetitionDistance',
       'CompetitionOpenSinceMonth', 'CompetitionOpenSinceYear', 'Promo2',
       'Promo2SinceWeek', 'Promo2SinceYear', 'PromoInterval'],
      dtype='object')

In [160]:
# Separate categorical, numerical and date columns
df_store_cat = df_store[['StoreType', 'Assortment', 'Promo2', 'PromoInterval']]
df_store_num = df_store[['CompetitionDistance', 'Promo2SinceWeek', 'CompetitionOpenSinceYear', 'CompetitionOpenSinceMonth', 'Promo2SinceYear']]

#### Data Summarization

In [161]:
train_cat_summary = summarize_categorical(df_train_cat)
display_summary_table(train_cat_summary)

StateHoliday:
+----+----------------+---------+
|    | StateHoliday   |   count |
|----+----------------+---------|
|  0 | 0              |  855087 |
|  1 | 0              |  131072 |
|  2 | a              |   20260 |
|  3 | b              |    6690 |
|  4 | c              |    4100 |
+----+----------------+---------+

In [162]:
train_num_desc = describe_numerical(df_train_num)
display_summary_table(train_num_desc)

Sales:
+----+---------+-----------------+
|    | index   |           Sales |
|----+---------+-----------------|
|  0 | count   |     1.01721e+06 |
|  1 | mean    |  5773.82        |
|  2 | std     |  3849.93        |
|  3 | min     |     0           |
|  4 | 25%     |  3727           |
|  5 | 50%     |  5744           |
|  6 | 75%     |  7856           |
|  7 | max     | 41551           |
+----+---------+-----------------+

Customers:
+----+---------+----------------+
|    | index   |      Customers |
|----+---------+----------------|
|  0 | count   |    1.01721e+06 |
|  1 | mean    |  633.146       |
|  2 | std     |  464.412       |
|  3 | min     |    0           |
|  4 | 25%     |  405           |
|  5 | 50%     |  609           |
|  6 | 75%     |  837           |
|  7 | max     | 7388           |
+----+---------+----------------+

In [163]:
print(df_train_date.columns)

Index(['Date'], dtype='object')

In [164]:
summarize_time_series(df_train_date, 'Date')

Number of Unique Dates: 942
Start Date: 2013-01-01 00:00:00
End Date: 2015-07-31 00:00:00

c:\Users\abraham.shimelis\10-academy\kaim\Rossmann-Pharmaceuticals\notebooks\..\src\descriptive_statistics.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[date_column] = pd.to_datetime(df[date_column])

In [165]:
test_cat_summary = summarize_categorical(df_test_cat)
display_summary_table(test_cat_summary)

StateHoliday:
+----+----------------+---------+
|    | StateHoliday   |   count |
|----+----------------+---------|
|  0 | 0              |   40908 |
|  1 | a              |     180 |
+----+----------------+---------+

In [166]:
print(df_test_date.columns)

Index(['Date'], dtype='object')

In [167]:
summarize_time_series(df_test_date, 'Date')

Number of Unique Dates: 48
Start Date: 2015-08-01 00:00:00
End Date: 2015-09-17 00:00:00

c:\Users\abraham.shimelis\10-academy\kaim\Rossmann-Pharmaceuticals\notebooks\..\src\descriptive_statistics.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[date_column] = pd.to_datetime(df[date_column])

In [168]:
store_cat_summary = summarize_categorical(df_store_cat)
display_summary_table(store_cat_summary)

StoreType:
+----+-------------+---------+
|    | StoreType   |   count |
|----+-------------+---------|
|  0 | a           |     602 |
|  1 | d           |     348 |
|  2 | c           |     148 |
|  3 | b           |      17 |
+----+-------------+---------+

Assortment:
+----+--------------+---------+
|    | Assortment   |   count |
|----+--------------+---------|
|  0 | a            |     593 |
|  1 | c            |     513 |
|  2 | b            |       9 |
+----+--------------+---------+

PromoInterval:
+----+------------------+---------+
|    | PromoInterval    |   count |
|----+------------------+---------|
|  0 | Jan,Apr,Jul,Oct  |     335 |
|  1 | Feb,May,Aug,Nov  |     130 |
|  2 | Mar,Jun,Sept,Dec |     106 |
+----+------------------+---------+

In [169]:
store_num_desc = describe_numerical(df_store_num)
display_summary_table(store_num_desc)

CompetitionDistance:
+----+---------+-----------------------+
|    | index   |   CompetitionDistance |
|----+---------+-----------------------|
|  0 | count   |               1112    |
|  1 | mean    |               5404.9  |
|  2 | std     |               7663.17 |
|  3 | min     |                 20    |
|  4 | 25%     |                717.5  |
|  5 | 50%     |               2325    |
|  6 | 75%     |               6882.5  |
|  7 | max     |              75860    |
+----+---------+-----------------------+

Promo2SinceWeek:
+----+---------+-------------------+
|    | index   |   Promo2SinceWeek |
|----+---------+-------------------|
|  0 | count   |          571      |
|  1 | mean    |           23.5954 |
|  2 | std     |           14.142  |
|  3 | min     |            1      |
|  4 | 25%     |           13      |
|  5 | 50%     |           22      |
|  6 | 75%     |           37      |
|  7 | max     |           50      |
+----+---------+-------------------+

CompetitionOpenSinceYear:
+----+---------+----------------------------+
|    | index   |   CompetitionOpenSinceYear |
|----+---------+----------------------------|
|  0 | count   |                  761       |
|  1 | mean    |                 2008.67    |
|  2 | std     |                    6.19598 |
|  3 | min     |                 1900       |
|  4 | 25%     |                 2006       |
|  5 | 50%     |                 2010       |
|  6 | 75%     |                 2013       |
|  7 | max     |                 2015       |
+----+---------+----------------------------+

CompetitionOpenSinceMonth:
+----+---------+-----------------------------+
|    | index   |   CompetitionOpenSinceMonth |
|----+---------+-----------------------------|
|  0 | count   |                   761       |
|  1 | mean    |                     7.2247  |
|  2 | std     |                     3.21235 |
|  3 | min     |                     1       |
|  4 | 25%     |                     4       |
|  5 | 50%     |                     8       |
|  6 | 75%     |                    10       |
|  7 | max     |                    12       |
+----+---------+-----------------------------+

Promo2SinceYear:
+----+---------+-------------------+
|    | index   |   Promo2SinceYear |
|----+---------+-------------------|
|  0 | count   |         571       |
|  1 | mean    |        2011.76    |
|  2 | std     |           1.67494 |
|  3 | min     |        2009       |
|  4 | 25%     |        2011       |
|  5 | 50%     |        2012       |
|  6 | 75%     |        2013       |
|  7 | max     |        2015       |
+----+---------+-------------------+